.vscode

Makefile
deploy.sh

.git
.vs
.editorconfig
.idea
Logs/
.config

InvestIn.Frontend/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

src/server/.vscode
src/server/GraphQL/bin
src/server/GraphQL/obj
src/server/GraphQL/Logs
src/server/GraphQL/Properties
src/server/GraphQL/appsettings.Development.json
src/server/GraphQL/appsettings.json
src/server/Core/bin
src/server/Core/obj
src/server/Data/bin
src/server/Data/obj
src/server/Data/Migrations
src/server/node_modules/bin
src/server/Models/obj
src/server/.DS_Store
src/server/GraphQL/dump.rdb
src/server/.DS_Store
src/server/Makefile

# dependencies
src/website/node_modules
src/website/.pnp
src/website/.pnp.js

# testing
src/website/coverage

# production
src/website/build

# misc
src/website/.DS_Store
src/website/.env.local
src/website/.env.development.local
src/website/.env.test.local
src/website/.env.production.local

src/website/npm-debug.log*
src/website/yarn-debug.log*
src/website/yarn-error.log*